<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - Preview</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/nav %>

    <div class="container main">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Preview</h1>

          <form method="post" action="/poll/send">
            <table class="table">
              <tr>
                <th>From</th>
                <td>
                  <%= email %>
                  <input type="hidden" name="email" value="<%= email %>" />
                </td>
              </tr>
              <tr>
                <th>To</th>
                <td>
                  <%= recipients %>
                  <input type="hidden" name="recipients" value="<%= recipients %>" />
                </td>
              </tr>
              <tr>
                <th>Question</th>
                <td>
                  <%= question %>
                  <input type="hidden" name="question" value="<%= question %>" />
                </td>
              </tr>
              <tr>
                <th>Choices</th>
                <td>
                  <% for(var i=0; i<choicesNumbered.length; i++) { %>
                    <%= choicesNumbered[i] %><br />
                  <% } %>
                  <input type="hidden" name="choices" value="<%= choices %>" />
                </td>
              </tr>
            </table>

            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>

    <% include partials/foot %>
  </body>
</html>
